@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
}

body {
  background: #1f2344;
  color: white;
  scroll-behavior: smooth;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 7%;
  background:  #1f2344;   
  border-bottom: 2px solid #ffffff33;
  z-index: 1000;
}

.navbar ul {
  display: flex;
  justify-content: center;
}


.logo a {
  font-family: "Great Vibes", cursive !important;
  color: white;
  font-size: 32px;
  letter-spacing: 1px;
}

.nav-links {
  display: flex;
  gap: 48px;
}

.nav-links a {
  color: white;
  font-size: 16px;
  font-weight: 400;
}

/* hero */
.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 160px 64px 80px;
  min-height: 720px;
}

.hero-content h1 {
  font-size: 64px;
  font-weight: 700;
  margin-bottom: 24px;
}

.hero-content p {
  font-size: 22px;
  width: 420px;
  margin-bottom: 12px;
  line-height: 1.4;
}

.hero-icons {
  display: flex;
  gap: 18px;
  margin: 32px 0;
}

.hero-icons i {
  font-size: 42px;
  cursor: pointer;
  transition: 0.3s;
}

.hero-icons i:hover {
  transform: scale(1.2) rotate(5deg);
}

.btn-contact {
  background: white;
  color: #1f2344;
  padding: 14px 40px;
  font-size: 20px;
  border-radius: 8px;
  font-weight: 600;
  transition: 0.3s;
}

.btn-contact:hover {
  background: #1f2344;
  color: white;
  transform: translateY(-3px);
}

.hero-img img {
  width: 520px;
  height: 520px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 200px;
}

/* about */
.section-wrapper {
  padding: 80px 64px;
}

.section-title {
  font-size: 40px;
  text-align: center;
  margin-bottom: 40px;
}

.about-section {
  background: white;
  color: black;
  width: 80%;       
  max-width: 1000px; 
  margin: 0 auto;
  padding: 30px;
  border-radius: 16px;
  font-size: 18px;
  line-height: 1.6;
}


/* project */
.project-section {
  margin-top: 120px;
  text-align: center;
}

.project-grid {
  display: flex;
  justify-content: center;
  gap: 40px;
  margin-top: 40px;
}

.project-card {
  width: 240px;
  height: 240px;
  background: white;
  border-radius: 12px;
  padding: 16px;
}

.project-card img {
  width: 100%;
  height: 100%;
  border-radius: 12px;
  object-fit: cover;
}

/* skill */
.skill-section {
  margin-top: 120px;
  text-align: center;
}

.skill-icons {
  display: flex;
  justify-content: center;
  gap: 32px;
}

.skill-icons i {
  font-size: 52px;
}

/* contact */
.contact-section {
  margin: 120px 0;
  text-align: center;
}

.contact-box {
  background: rgba(255, 255, 255, 0.1);
  width: 420px;
  margin: 40px auto;
  padding: 32px;
  border-radius: 16px;
}

.contact-box input,
.contact-box textarea {
  width: 100%;
  padding: 14px;
  margin: 12px 0;
  border-radius: 8px;
  border: none;
}

.btn-submit {
  width: 100%;
  padding: 14px;
  background: white;
  color: #1E3AFF;
  border-radius: 8px;
  margin-top: 10px;
  font-weight: 600;
  cursor: pointer;
}

.btn-submit:hover {
  background: rgb(46, 42, 42);
  color: white;
}

.footer {
  text-align: center;
  padding: 32px;
  opacity: 0.8;
  font-size: 14px;
  border-top: 2px solid #ffffff33; 
}
